@font-face {
	font-family: RobotoRegular, Arial, Helvetica, sans-serif;
	src: 'url(./fonts/Roboto-Regular.ttf)';
}

body {
	background-color: lightgray;
	color: black;
	font-family: RobotoRegular, sans-serif;
	font-size: 16px;
	height: 100svh;
	opacity: .8;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	gap: 1rem;
	padding: 2rem;
	flex-wrap: wrap;

}

.current-weather-header, .forecast-header{
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .1rem;
	background-color: whitesmoke;
	padding: .7rem 1rem;
	border-radius: .5rem;
	color: black;
	text-align: center;
	margin: 2rem;
}

.current-weather-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.current-horizontal-div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30%;
	align-items: center;
	flex-wrap: wrap;
}

.current-text-condition {
	font-size: 1.5rem;
	font-weight: 300;


}

.forecast-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.forecast-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}



.forecast-card, .current-weather-card {
	display: flex;
	gap: 1rem;
	padding: 3rem;
	flex-direction: column;
	background-color: whitesmoke;
	flex-shrink: 0;
	border-radius: .5rem;
}

.horizontal-div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.current-weather-card{
	flex-grow: 1;
}

.container {
	background-color: black;
	color: whitesmoke;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem 3rem;
	font-size: 3rem;
	font-weight: 700;
	flex-wrap: wrap;

}

.header{
	margin-right: auto;
}

legend, fieldset {
	display: none;
}

form.search-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	width: 100%;
	height: 100%;
	border: none;
}

.search-input {
	flex-grow: 1;
}


.search-btn, .search-input {
	padding: .5rem 1rem;
	border-color: rgb(240 248 255 / 42.3%);
	border-style: solid;
	font-size: 1rem;
	font-weight: 300;
	border-radius: .5rem;
}

.search-btn:hover, .search-input:hover {
	cursor: pointer;
	transition: scale  0.3s cubic-bezier(0.25, 0.1, 0, 3.04);
	transform: scale(1.1);
}

.search-input:hover{
	cursor: text;
	transform: scale(1.05)
}

.footer {]
	margin-top: auto;
	padding-top: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	font-size: 1rem;
	font-weight: 300;
}